.title-div, .instructions-div {
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 0;
}

.title-div {
    left: 40px;
    top: 5px;
    height: 100px;
}

.instructions-div {
    left: 40px;
    bottom: 70px;
    height: 40px;
    padding: 0;
}

.title, .instructions {
    margin: 0;
    font-family: 'Poiret One';
    font-weight: bold;
    letter-spacing: 0.1em;
}

.title {
    font-size: 80px;
}

.instructions {
    font-size: 35px;
}

.title-div span, .instructions-div span {
    opacity: 0;
}

.title-div span.revealed, .instructions-div span.revealed {
    opacity: 1;
}